
<%- include('../partials/nav') %>

<main>

<section class="form-container">


    <h1>Create a new account</h1>

    <form action="/auth/sign-up" method="POST">
        Username:
        <input type="text" name="username" />

        Password:
        <input type="password" name="password" minlenght="6" required />

        Confirm Password:
        <input type="password" name="confirmPassword" />

        Email:
        <input type="email" name="email" />
        
        Birthday:
        <input type="date" name="birthday" />

        <button type="submit">Sign Up</button>
    </form>

</section>

</main>

</body>
</html>