<%- include('../partials/nav') %>

<main>

<section class="lists-section">

    <h1>My To-do Lists</h1>

    <% lists.forEach((item) => { %>

        <div class="list-card">

            <a href="/lists/<%= item._id %>">
                <%= item.title %>
            </a>

            <form action="/lists/<%= item._id %>?_method=DELETE" method="POST">
               <button type="submit" class="delete-btn">Delete</button>
            </form>

        </div>

    <% }) %>

    <a href="/lists/new">
        <button class="create-list-btn">Create New List</button>
    </a>

</section>

</main>

</body>
</html>