<%- include('../partials/nav') %>

    <!-- all lists -->
<main>

 <section class="lists-section">  
    <h1>My To-do-lists</h1>

    <% lists.forEach((item) =>{ %>
    
      <div class="list-card"> 
       
        <a href ="/lists/<%= item._id %>">

             <%= item.title %>
        </a>
       

    <form action="/lists/<%= item._id %>?_method=DELETE" method="POST" style="display: inline;">
     <button type="submit">Delete</button>
        </form>
        </div> 
    <% }) %>

    

    <a href="/lists/new">
        <button>Create New List</button>
    </a>

     </section> 
</main>
</body>
</html>