<%- include('../partials/nav') %>

    <!-- /lists -->

    <h1>My To-do-lists</h1>

    <% lists.forEach((item) =>{ %>
        <ul>
        <a href ="/lists/<%= item._id %>">

             <%= item.title %>
        </a>
       </ul>

    <form action="/lists/<%= item._id %>?_method=DELETE" method="POST" style="display: inline;">
     <button type="submit">Delete</button>
        </form>
        
    <% }) %>

    

    <a href="/lists/new">
        <button>Create New List</button>
    </a>

     

</body>
</html>