<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- /lists -->

    <h1>My To-do-lists</h1>

    <% lists.forEach((item) =>{ %>
        <ul>
        <a href ="/lists/<%= item._id %>">

             <%= item.title %>
        </a>
       </ul>
    <% }) %>

    

    <a href="/lists/new">
        <button>Create New List</button>
    </a>



</body>
</html>