<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create the task</h1>

    <form action ="/lists" method="POST">

        Task Title: 
        <input type="text" name="title" />

        Task Description:
        <input type="text" name="description" />

        Due Date:
        <input type="date" name="dueDate" />

        Completed:
        <input type="checkbox" name="isCompleted" />

        <button type="submit">Add the task</button>

    </form>
</body>
</html>