<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a To-do-list</h1>

    <form action ="/lists" method="POST">
    
    <label>List Name:</label>

    <input type="text" name="title" required />

    <button type="submit">Add task</button>
    
</body>
</html>