<%- include('../partials/nav') %>

    <h1>Create a To-do-list</h1>

    <form action ="/lists" method="POST">
    
    List Name:

    <input type="text" name="title" required />

    <button type="submit">Add task</button>
    
</body>
</html>