<%- include('./partials/nav') %>


    <h1><%= user.username %>'s dashboard</h1>

    <h2>To Do List</h2>

    <a href="/lists/new">
    <button type="button">Create Your To-do List</button>
    </a>
    

    <br/>

    <h2>Write Article</h2>

     <a href="/articles/new">
    <button type="button">Create Your Article</button>
    </a>

</body>
</html>